{% extends 'base.html.twig' %}

{% block content %}
    <h1>Reclamation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id Reclamation </th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Sujet Du reclamation</th>
                <td>{{ reclamation.sujetReclamation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.descriptionReclamation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reclamation_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('reclamation_edit', { 'id': reclamation.id }) }}">Modification</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Effacer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
