{% extends 'base.html.twig' %}
{% block title %} Liste des action {% endblock %}

{% block content %}

    <div class="col-md-4 col-sm-12 sidebar-inner pull-right pull-sm-none">
        <div class="side-bar-widget">
            <div class="single-sidebar-widget search">
                <form method="POST">
                    <input type="text" placeholder="Search" name="titre">
                    <button type="submit" value="search"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>


    <section class="blog-home sec-padding blog-page">
        {% for actions in actions %}
        <div class="container">

            <div class="row">

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="single-blog-post">
                        <div class="img-box">
                            <div> <img class="img-fluid" src="{{ asset('uploads/photos/' ~ actions.photo) }}" width="400" height="200>
                            {{ socialButtons() }}</div>
                            <div class="overlay">
                                <div class="box">
                                    <div class="content">
                                        <ul>
                                            <a href="{{path('detailed', {'id': actions.id}) }}"><i class="fa fa-link"></i></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-box">
                            <div class="date-box">
                                <div class="inner">
                                    <div class="date">
                                        {{ actions.date|date }}
                                    </div>
                                    <div class="comment">
                                        <div class="btn-group">


                                           <a href="{{path("supp", {'id':actions.id}) }}"><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <a href="{{ asset('details.html.twig')}}"><h3>{{ actions.titre }}</h3></a>
                                <p>{{ actions.description }} </p>

                            </div>
                        </div>
                    </div>

            </div>
            {% endfor %}
        </div>

        </div>
    </section>

{% endblock  %}



