{% extends 'base.html.twig' %}

{% block content %}
    {#<h1>Evenement creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('evenement_index') }}">Back to the list</a>
        </li>
    </ul>#}

   {# <div class="comment-form contact-content">
        <h2>Ajouter Evenement</h2>
        <form action="http://hasan.themexlab.com/new/lillah-fund-html/inc/sendemail.php" class="contact-form row" id="contact-page-contact-form">
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_widget(form.confirmer,{'attr':{'class':'btn btn-control'}}) }}
            {{ form_end(form) }}
            <ul>
                <li>
                    <a href="{{ path('evenement_index') }}">Back to the list</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <textarea name="message" placeholder="Message" cols="30" rows="10"></textarea>
        </div>

        </form>
    </div>#}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="form-group">
                    {{ form_start(form) }}
                    {{ form_label(form.nom,'Titre', {'label_attr':{'class' : 'nom'}}) }}
                    {{ form_widget(form.nom,{'attr': {'class' : 'nom form-control'}}) }}
                    <div id="nom_err">
                        {{ form_errors(form.nom,{'label_attr':{'class' : 'nom_err1'}}) }}
                    </div>

                   {{ form_label(form.lieu,'Lieu', {'label_attr':{'class' : 'lieu'}}) }}
                    {{ form_widget(form.lieu,{'attr': {'class' : 'type form-control'}}) }}
                    {{ form_errors(form.lieu) }}

                    {{ form_label(form.date,'date', {'label_attr':{'class' : 'date'}}) }}
                    {{ form_widget(form.date) }}
                    {{ form_errors(form.date) }}

                    {{ form_label(form.heure,'heure', {'label_attr':{'class' : 'heure'}}) }}
                    {{ form_widget(form.heure) }}
                    <div id="prix_err">
                        {{ form_errors(form.heure) }}
                    </div>

                    {{ form_label(form.description,'Description', {'label_attr':{'class' : 'description'}}) }}
                    {{ form_widget(form.description, {'attr': {'class' : 'type form-control'}}) }}
                    <div id="date_d_err">
                        {{ form_errors(form.description) }}
                    </div>



                    <br>
                    {{ form_widget(form.confirmer,{'attr': {'class' : 'btn btn-primary'}}) }}
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}
